* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
  scroll-behavior: smooth;
}

:root {
  --mainColor: #519872;
  --primaryBlack: #151a1e;
  --textWhite: #ebebeb;
  --white: #f3f3f3f8;
  --textBlack: #111;
  --dark: hsla(0, 0%, 100%, 0.04);
  --hoverTime: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-mode {
  background-color: var(--primaryBlack);
}

/* global button effects */
/* Radial In */
.hvr-radial-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: var(--mainColor) !important;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-in:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white);
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-in:hover,
.hvr-radial-in:focus,
.hvr-radial-in:active {
  color: white !important;
}
.hvr-radial-in:hover:before,
.hvr-radial-in:focus:before,
.hvr-radial-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* dark mode settings */

/* dark mode nav  */
.dark-mode .fixed-nav {
  background-color: rgba(0, 0, 0, 0.185);
}
.dark-mode section .navbar-link {
  color: var(--textWhite);
}
.dark-mode .nav-enter {
  color: var(--textWhite);
}
.dark-mode .nav-exit {
  color: var(--textWhite);
}

/* dark mode btns  */
.dark-mode .btn::before {
  background-color: var(--primaryBlack);
}

/* dark mode banner */
.dark-mode .banner-title {
  color: var(--textWhite);
}
.dark-mode .banner-subtitle {
  color: var(--textWhite);
}

/* dark mode about */
.dark-mode section .about-container {
  background-color: var(--dark);
}

/* dark mode skills divider */
.dark-mode section .skills {
  background: var(--mainColor);
  border-color: var(--mainColor);
}
.dark-mode section .skills-title {
  color: var(--textWhite);
}
.dark-mode section .skills-img-title {
  color: var(--textWhite);
}
.dark-mode section .skill-btn {
  border: 2px solid var(--textWhite);
  color: var(--textWhite);
}
.dark-mode section .skill-btn:hover {
  background-color: var(--textWhite);
  color: var(--mainColor);
}

/* dark mode projects home */
.dark-mode .project-header-text {
  color: var(--textWhite);
}
.dark-mode section .pn-btn::before {
  background: var(--primaryBlack);
}

/* dark mode footer section */
.dark-mode section .section-contact-center {
  background: var(--mainColor);
  border-color: var(--mainColor);
}
.dark-mode section .section-contact-title {
  color: var(--textWhite);
}
.dark-mode section .section-contact-text {
  color: var(--textWhite);
}
.dark-mode section .footer-btn {
  color: var(--textWhite);
  border-color: var(--textWhite);
}
.dark-mode section .footer-btn:hover {
  color: var(--mainColor);
  background: var(--textWhite);
}

/* dark mode footer */
.dark-mode section .footer-container {
  background: var(--dark);
}
